# Ignore auto_analyst folder
auto_analyst/
__pycache__

# Ignore node_modules folder
node_modules/

# Ignore React Frontend folder (assuming the name of the folder is 'React Frontend')
React Frontend/

Notebooks/

.DS_Store
instance/   

React Frontend/autoanalyst_frontend/

flask_app/_pycache__
flask_app/instance
flask_app/.env
.env
__pycache__